// You're welcome to override variables declared in the custom theme
$buttonColor: grey;
@import '~@pcalouche/react-ui-lib/dist/scss/custom-theme';

.Button {
  border: 1px solid grey;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
